.panel-title {
    font-weight: bolder !important;
    text-align: center;
}

th.sorts a {
    font-weight: bolder;
}

//.view---pages-enterprise---7-1-0---3Pzai {
//    display: none;
//}

.view---pages-enterprise---7-1-0---lSAkj.view---pages-enterprise---7-1-0---25Lec {
    display: none;
}

